body {
    background-color: rgba(0, 128, 0, 0.582);
    font-size: 16px;
}

.center {
    display: flex;
    justify-content: center;
}
.pokeball {
    margin-top: 300px;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
}
.pokeball::before {
    content: '';
    width: 5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 2.5rem 2.5rem 0 0;
    position: absolute;
    
}
.contenido {
    width: 5rem;
    height: 0.25rem;
    background-color: black;
    position: absolute;
    margin-top: 2.4rem;
}
.contenido::before {
    content: '';
    margin-top: 2.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    margin-top: -0.5rem;
    margin-left: 1.8rem;
    position: absolute;
}
.contenido::after {
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    background-color: white;
    border-radius: 50%;
    margin-top: -0.25rem;
    margin-left: 2.1rem;
    position: absolute;
    cursor: pointer;
}

.pokemon {
    position: absolute;
    // top: 50%;
    // left: 50%;
}
.span {
    color: transparent;
    height: 70px;
}

.pokeball-animation {
    margin-top: 300px;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;

    animation-name: lanzar;
    animation-duration: 1s;
    position: absolute;

}
@keyframes lanzar {
    0% {
        top: 50px;
      }
      100% {
        top: -250px;
      }
}

.pokeball-animation::before {
    content: '';
    width: 5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 2.5rem 2.5rem 0 0;
    position: absolute;
    
}

.persona {
    width: 4rem;
    height: 4rem;
    // background-color: blue;
    position: absolute;
    background-image: url('../img/person.png');
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    cursor: pointer;
}

.container-fight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.squares-black {
    
    background-color: black;
    margin: auto;

    animation-name: increase;
    animation-duration: 3s;
    position: absolute;

}
@keyframes increase {
    0% {
    width: 20%;
    height: 30vh ;
    }
    20% {
    width: 40%;
    height: 60vh ;
    }
    40% {
    width: 60%;
    height: 70vh ;
    }
    60% {
    width: 70%;
    height: 80vh ;
    }
    70% {
    width: 80%;
    height: 90vh ;
    }
    100% {
    width: 100%;
    height: 100vh ;
    }

}
.container-batle {
    width: 100%;
    // height: 100vh;
    height: 100vh;
   
}
.ash-batle {
    display: block;
    width: 10rem;
    // position: absolute;
    
    // left: 50;
    // top: 100px;
    // cursor: pointer;
   
}
.img-pokemon-vs {
    width: 10rem;
}
.life-barra {
    width: 100%;
    height: 15px;
    border-color: black;
    background-color: blue;
    border-radius: 10px;
}
.col-life-name {
//     display: flex;
//     flex-direction: column;
//    align-items: center;
}
.name-pokemon {
    margin-top: 40px;
    font-weight: bold;
}
.row-batle-button {
    height: 50%;
}
.container-info1, 
    .container-info2  {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 2px solid black;
}
.container-info1 p{
    margin-left: 20px;
}
.container-info2 span {
    cursor: pointer;
    width: 33%;
   
}
.img-pokeball {
    width: 2rem;
    position: absolute;
    left: 260px;
}