.container-letras {
    width: 100%;
}

.container-letras img {
    width: 40%;
}

body {
    background-color: white;
}

.cool {
    // border: 1px solid black;
}
.submit {
    background-color: rgba(255, 0, 0, 0.842);
    width: 100%;
}
.enlace {
    cursor: pointer;
    text-decoration: none;
}
    
.enlace:hover {
    text-decoration: underline;
}
.input {
    height: 55px;
}
.submit {
    height: 55px;
    border: none;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-letras img {
        width: 60%;
    }
}
